<section>
  <button>resset</button>
  <article>
    <h2>Nombre Apellido</h2>
    <h3>Front-end developer</h3>
    <img src="" />
    <nav>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
  </article>
</section>

<section>
  <form class="form form--design">
    <fieldset>
      <legend>Diseña</legend>
      <h4>Colores</h4>
      <div>
        <label for="design-1">
          <input id="design-1" type="radio" value="design-1" name="design" />
        </label>
      </div>
      <div>
        <label for="design-2">
          <input id="design-2" type="radio" value="design-2" name="design" />
        </label>
      </div>
      <div>
        <label for="design-3">
          <input id="design-3" type="radio" value="design-3" name="design" />
        </label>
      </div>
    </fieldset>
  </form>

  <form class="form form--fill"></form>
  <fieldset>
    <legend>Rellena</legend>
    <div>
      <label for="name"
        >Nombre completo
        <input id="name" type="text" placeholder="Ej: Sally Hill" name="name" />
      </label>
    </div>
    <div>
      <label for="position"
        >Puesto
        <input id="position" type="text" placeholder="Ej: Front-end unicorn" name="position" />
      </label>
    </div>
    <div>
      <label for="image"
        >Imagen de perfil
        <input id="image" type="file" name="image" />
      </label>
    </div>
    <div>
      <label for="email"
        >Email
        <input id="email" type="email" placeholder="Ej: sally-hill@gmail.com" name="email" />
      </label>
    </div>
    <div>
      <label for="phone"
        >Teléfono
        <input id="phone" type="tel" placeholder="Ej: 555-55-55-55" name="phone" />
      </label>
    </div>
    <div>
      <label for="linkedin"
        >Linkedin
        <input id="linkedin" type="text" placeholder="Ej: linkedin.com/in/sally.hill" name="linkedin" />
      </label>
    </div>
    <div>
      <label for="github"
        >Github
        <input id="github" type="text" placeholder="Ej: @sally-hill" name="github" />
      </label>
    </div>
  </fieldset>

  <article>
    <button>Crear tarjeta</button>
  </article>
  <article>
    <h3>La tarjeta ha sido creada</h3>
    <a></a>
    <button>La tarjeta ha sido creada</button>
  </article>
</section>
