<fieldset class="fieldset section__share">
  <div class="section__share--collapsable uppercase">
    <h3 class="section__share--title bold"><i class="fa fa-share-alt form--icons" aria-hidden="true"></i>Comparte</h3>
    <a class="button--collapsable js-shareCollapsable">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </a>
  </div>
</fieldset>

<fieldset class="fieldset hiddenshare js-hiddenshare">
  <section class="section__link js-shareContainer hidden">
    <button type="button" class="button--create uppercase"><i class="fa fa-id-card" aria-hidden="true"></i>Crear tarjeta</button>
    <h3 class="section__share--subtitle">La tarjeta ha sido creada</h3>
    <a class="link link--share" href="https://www.enlacedeprueba.com">https://www.enlacedeprueba.com</a>
    <button class="button--share"><i class="fa fa-twitter" aria-hidden="true"></i>Compartir en twitter</button>
  </section>
</fieldset>
