<form class="form form--fill"></form>
<fieldset class="fieldset">
  <legend class="uppercase section__fill--title bold">
    <span class="form--icons"
      ><i class="fa fa-keyboard-o" aria-hidden="true"></i></span
    >Rellena
  </legend>
  <div>
    <label class="element-form" for="name"
      >Nombre completo
      <input
        class="element-form form-input"
        id="name"
        type="text"
        placeholder="Ej: Sally Hill"
        name="name"
      />
    </label>
  </div>
  <div>
    <label class="element-form" for="position"
      >Puesto
      <input
        class="element-form form-input"
        id="position"
        type="text"
        placeholder="Ej: Front-end unicorn"
        name="position"
      />
    </label>
  </div>
  <div>
    <label class="element-form" for="image"
      >Imagen de perfil
      <input
        class="element-form form-input"
        id="image"
        type="file"
        name="image"
      />
    </label>
  </div>
  <div>
    <label class="element-form" for="email"
      >Email
      <input
        class="element-form form-input"
        id="email"
        type="email"
        placeholder="Ej: sally-hill@gmail.com"
        name="email"
      />
    </label>
  </div>
  <div>
    <label class="element-form" for="phone"
      >Teléfono
      <input
        class="element-form form-input"
        id="phone"
        type="tel"
        placeholder="Ej: 555-55-55-55"
        name="phone"
      />
    </label>
  </div>
  <div>
    <label class="element-form" for="linkedin"
      >Linkedin
      <input
        class="element-form form-input"
        id="linkedin"
        type="text"
        placeholder="Ej: linkedin.com/in/sally.hill"
        name="linkedin"
      />
    </label>
  </div>
  <div>
    <label class="element-form" for="github"
      >Github
      <input
        class="element-form form-input"
        id="github"
        type="text"
        placeholder="Ej: @sally-hill"
        name="github"
      />
    </label>
  </div>
</fieldset>
