<section class="secction__card">
  <button class="uppercase button--reset">
    <i class="fa fa-trash" aria-hidden="true"></i>Reset
  </button>
  <article class="section__article">
    <div class="section__article--wrapper">
      <h2 class="section__article--title">Nombre Apellido</h2>
      <h3 class="section__article--subtitle">Front-end developer</h3>
    </div>
    <img
      class="section__article--image"
      src="./assets/images/logo--awesome-profile-cards.svg"
    />
    <nav class="section__article--icons">
      <ul class="icons__list">
        <li class="icons__list--item">
          <a class="link" href="">
            <i class="fa fa-mobile" aria-hidden="true"></i>
          </a>
        </li>
        <li class="icons__list--item">
          <a class="link" href="">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </a>
        </li>
        <li class="icons__list--item">
          <a class="link" href="">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li class="icons__list--item">
          <a class="link" href="">
            <i class="fa fa-github-alt" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav>
  </article>
</section>
