<section class="section__card">
  <div class="section__card--wrapper">
    <button class="uppercase button--reset">
      <i class="fa fa-trash" aria-hidden="true"></i>Reset
    </button>
    <article class="section__article">
      <div class="section__article--wrapper">
        <h2 class="section__article--title js-cardName">Lisa Simpson</h2>
        <h3 class="section__article--subtitle js-cardPosition">Saxophonist</h3>
      </div>
      <div class="section__article--image js__profile-image"></div>
      <nav class="section__article--icons">
        <ul class="icons__list">
          <li class="icons__list--item js-item">
            <a class="link js-cardPhone" href="tel:">
              <i class="fa fa-mobile" aria-hidden="true"></i>
            </a>
          </li>
          <li class="icons__list--item js-item1">
            <a class="link js-cardEmail" href="mailto:">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
          </li>
          <li class="icons__list--item js-item2">
            <a class="link js-cardLinkedin" href="https://" target="_blank">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
          <li class="icons__list--item js-item3">
            <a class="link js-cardGithub" href="https://" target="_blank">
              <i class="fa fa-github-alt" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </nav>
    </article>
  </div>
</section>
