<main class="main">
  <section class="secction__card">
    <button class="uppercase button--reset">
      <i class="fa fa-trash" aria-hidden="true"></i>Reset</button>
    <article class="section__article">
      <div class="section__article--wrapper">
      <h2 class="section__article--title">Nombre Apellido</h2>
      <h3 class="section__article--subtitle">Front-end developer</h3>
      </div>
      <img class="section__article--image" src="./assets/images/logo--awesome-profile-cards.svg" />
      <nav class="section__article--icons">
        <ul class="icons__list">
          <li class="icons__list--item">
            <a class="link" href="">
              <i class="fa fa-mobile" aria-hidden="true"></i>
            </a>
          </li>
          <li class="icons__list--item">
            <a class="link" href="">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
          </li>
          <li class="icons__list--item">
            <a class="link" href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
          <li class="icons__list--item">
            <a class="link" href="">
              <i class="fa fa-github-alt" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </nav>
    </article>
  </section>

  <section class="section__design">
    <form class="form form--design">
      <fieldset class="fieldset">
        <legend class="uppercase section__design--title bold"><span class="form--icons"><i class="fa fa-object-ungroup" aria-hidden="true"></i></span>Diseña
        </legend>
        <div class="form--design-colors">
          <h4 class="uppercase section__design--subtitle">Colores</h4>
          <div class="form--design-palets">
            <div class="palets--radio-1">
              <label for="design-1">
                <input id="design-1" type="radio" value="design-1" name="design"/>
              </label>
            </div>
            <div class="palets--radio-2">
              <label for="design-2">
                <input id="design-2" type="radio" value="design-2" name="design"/>
              </label>
            </div>
            <div class="palets--radio-3">
              <label for="design-3">
                <input id="design-3" type="radio" value="design-3" name="design"/>
              </label>
            </div>
            <div class="palets palets--color-1"></div>
            <div class="palets palets--color-2"></div>
            <div class="palets palets--color-3"></div>
            <div class="palets palets--color-4"></div>
            <div class="palets palets--color-5"></div>
            <div class="palets palets--color-6"></div>
            <div class="palets palets--color-7"></div>
            <div class="palets palets--color-8"></div>
            <div class="palets palets--color-9"></div>
          </div>
      </fieldset>
    </form>

    <form class="form form--fill"></form>
    <fieldset class="fieldset">
      <legend class="uppercase section__design--title-fill bold"><span class="form--icons"><i class="fa fa-keyboard-o" aria-hidden="true"></i></span>Rellena
      </legend>
      <div>
        <label class="element-form" for="name">Nombre completo
          <input class="element-form" id="name" type="text" placeholder="Ej: Sally Hill" name="name" />
        </label>
      </div>
      <div>
        <label class="element-form" for="position">Puesto
          <input class="element-form" id="position" type="text" placeholder="Ej: Front-end unicorn" name="position" />
        </label>
      </div>
      <div>
        <label class="element-form" for="image">Imagen de perfil
          <input class="element-form" id="image" type="file" name="image" />
        </label>
      </div>
      <div>
        <label class="element-form" for="email">Email
          <input class="element-form" id="email" type="email" placeholder="Ej: sally-hill@gmail.com" name="email" />
        </label>
      </div>
      <div>
        <label class="element-form" for="phone">Teléfono
          <input class="element-form" id="phone" type="tel" placeholder="Ej: 555-55-55-55" name="phone" />
        </label>
      </div>
      <div>
        <label class="element-form" for="linkedin">Linkedin
          <input class="element-form" id="linkedin" type="text" placeholder="Ej: linkedin.com/in/sally.hill"
            name="linkedin" />
        </label>
      </div>
      <div>
        <label class="element-form" for="github">Github
          <input class="element-form" id="github" type="text" placeholder="Ej: @sally-hill" name="github" />
        </label>
      </div>
    </fieldset>
    <article class="section__share">
      <section>
        <h2 class="uppercase section__design--title-share bold"><span class="form--icons"><i class="fa fa-share-alt" aria-hidden="true"></i></span>Comparte</h2>
        <button>Crear tarjeta</button>
      </section>
      <section>
        <h3>La tarjeta ha sido creada</h3>
        <a></a>
        <button>La tarjeta ha sido creada</button>
      </section>
    </article>
  </section>

</main>