<fieldset class="fieldset form--fill">
  <div class="section__fill--collapsable uppercase">
    <h3 class="section__fill--title" bold><i class="fa fa-keyboard-o form--icons" aria-hidden="true"></i>Rellena</h3>
    <a class="button--collapsable">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </a>
  </div>
  <div>
    <label class="element-form" for="name">Nombre completo
      <input class="element-form form-input" id="name" type="text" placeholder="Ej: Sally Hill" name="name" />
    </label>
  </div>
  <div>
    <label class="element-form" for="position">Puesto
      <input class="element-form form-input" id="position" type="text" placeholder="Ej: Front-end unicorn"
        name="position" />
    </label>
  </div>
  <div>
    <label class="element-form" for="image">Imagen de perfil
      <input class="element-form form-input form-file js__profile-upload-btn" id="image" type="file" name="image" />
    </label>
    <div class="button--wrapper">
      <button class="button--file js__profile-trigger">Añadir imagen</button>
      <div class="js__profile-preview"></div>
    </div>
  </div>
  <div>
    <label class="element-form" for="email">Email
      <input class="element-form form-input" id="email" type="email" placeholder="Ej: sally-hill@gmail.com"
        name="email" />
    </label>
  </div>
  <div>
    <label class="element-form" for="phone">Teléfono
      <input class="element-form form-input" id="phone" type="tel" placeholder="Ej: 555-55-55-55" name="phone" />
    </label>
  </div>
  <div>
    <label class="element-form" for="linkedin">Linkedin
      <input class="element-form form-input" id="linkedin" type="text" placeholder="Ej: linkedin.com/in/sally.hill"
        name="linkedin" />
    </label>
  </div>
  <div>
    <label class="element-form" for="github">Github
      <input class="input-github element-form form-input" id="github" type="text" placeholder="Ej: @sally-hill" name="github" />
    </label>
  </div>
</fieldset>