// fonts
$font-main: "Open Sans", sans-serif;
$font-card: "Montserrat", sans-serif;
$font-title: "Merriweather", serif;

// colors
$color-white: #ffffff;
$color-black: #000000;
$color-primary: #438792;
$color-primary-dark: #114e4e;
$color-primary-light: #a2deaf;
$color-secundary: #e17334;
$color-terciary: #f9f4dc;
$color-cuaternary: #54585a;
