// fonts
$font-main: "Open Sans", sans-serif;
$font-card: "Montserrat", sans-serif;
$font-title: "Merriweather", serif;

// colors
$color-white: #ffffff;
$color-black: #000000;
$color-black-light: #54585a;
$color-primary: #438792;
$color-primary-dark: #114e4e;
$color-primary-light: #a2deaf;
$color-secondary: #e17334;
$color-secondary-light: #e1733436;
$color-terciary: #f9f4dc;
$color-background: #f5f5f5;
$color-border: #d8d8d8;
$color-small: #6b6b6b;
$color-cuaternary: #54585a;
