.section__fill--collapsable {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 25px 20px;
  @media all and (min-width: 768px) {
    margin-right: 0;
    margin-left: 40px;
  }
}

.element-form {
  display: block;
  font-size: 14px;
  font-family: $font-main;
  margin-left: 20px;
  margin-right: 20px;
  @media all and (min-width: 768px) {
    margin-right: 0;
    margin-left: 40px;
  }
}

.form-input {
  border: 1px solid $color-primary-light;
  height: 30px;
  margin: 7px 0 20px 0;
  width: 100%;
  padding: 10px;
}

.form-file {
  display: none;
}

.button--wrapper {
  display: flex;
  margin: 7px 20px 20px 20px;
}

.button--file {
  width: 140px;
  height: 30px;
  background-color: $color-secundary;
  color: $color-white;
  padding: 10px;
  border: 1px solid $color-secundary;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  @media all and (min-width: 768px) {
    margin-left: 20px;
  }
}

.js__profile-preview {
  height: 30px;
  width: 30px;
  border: 1px solid $color-primary-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
}
