.section__design {
  font-family: $font-main;
  color: $color-cuaternary;
  background: linear-gradient(to bottom, #f5f5f5, #ffffff);
  &--subtitle {
    font-size: 14px;
    font-weight: normal;
    margin-left: 19px;
    @media all and (min-width: 768px) {
      margin-left: 0;
    }
  }
  @media all and (min-width: 768px) {
    background-color: none;
  }
}

.section__design--title,
.section__fill--title,
.section__share--title,
.button--collapsable {
  font-size: 18px;
}

.section__design--collapsable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 22px;
}

.form--design-colors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.form--design-palets {
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: 30px 30px 30px 30px;
  grid-template-rows: 25px 25px 25px;
  grid-row-gap: 10px;
  @media all and (min-width: 768px) {
  }
}

.palets {
  height: 25px;
  width: 30px;
  &--radio-1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &--color-1 {
    background-color: #114e4e;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &--color-2 {
    background-color: #438792;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &--color-3 {
    background-color: #a2deaf;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &--radio-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &--color-4 {
    background-color: #420101;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &--color-5 {
    background-color: #bd1010;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &--color-6 {
    background-color: #e95626;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &--radio-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  &--color-7 {
    background-color: #3e5b65;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  &--color-8 {
    background-color: #eab052;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  &--color-9 {
    background-color: #a0c0cf;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
