.section__share {
  text-align: center;
  &--title {
    text-align: left;
  }
  &--subtitle {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.section__share--collapsable {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button--create {
  width: 200px;
  height: 50px;
  background-color: $color-secondary;
  border-radius: 12px;
  border: 0.5px solid $color-secondary;
  color: $color-white;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 30px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  &:hover {
    background-color: #feae62;
    border: 0.5px solid #feae62;
  }
}

.change-button {
  background-color: #d5d5d5;
  border: 0.5px solid #d5d5d5;
}

.section__link {
  text-align: center;
  margin: 10px 0 20px 0;
  &--share {
    border-bottom: solid 1px #d8d8d8;
    margin-bottom: 20px;
  }
}

.link--share {
  color: $color-secondary;
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.button--share {
  width: 180px;
  height: 30px;
  background-color: #00a0f5;
  color: $color-white;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #00a0f5;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  cursor: pointer;
}

.hidden--border {
  border-bottom: none !important;
}
