.main {
  background-color: $color-background;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 95px 28px 30px 27.2px;
  &__logo {
    &--img {
      width: 250px;
      height: 63px;
    }
  }
  &__text {
    margin-top: 35.4px;
    margin-bottom: 17.8px;
    &--title {
      font-family: $font-title;
      font-weight: bold;
      color: $color-secondary;
      font-size: 19.2px;
    }
    &--description {
      font-family: $font-main;
      color: $color-primary-dark;
      font-size: 12.8px;
    }
  }
  &__images {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 268px;
    padding: 15px 20px 10px 20px;
    border: 1.6px solid $color-secondary;
    border-radius: 4px;
    &--icon {
      width: 60px;
      height: 48.8px;
      color: $color-secondary;
      &-name {
        color: $color-black-light;
        font-size: 12.8px;
        font-family: $font-main;
      }
      /*  &-image {
        width: 32px;
        height: 26px;
      } */
    }
  }
}
/* Buscar opacidad en el borde de main_images */
